# Graph API Version
GRAPH_API_VERSION = "24.0"

# https://developers.facebook.com/apps
# -> create a new app or enter existing
# -> go to settings -> basic -> grab secret token and app id
# -> paste here
META_APP_SECRET = ""
META_APP_ID = ""

# https://business.facebook.com/latest/settings
# -> go to system users at sidebar
# -> create a new user
# -> generate token for the same app you got META_APP_SECRET
# -> paste here
META_APP_ACCESS_TOKEN = ""

# https://business.facebook.com/latest/whatsapp_manager/message_templates
# -> open "⚙️ Namespace" and grab the namespace UUID
# -> paste here
WHATSAPP_MESSAGE_NAMESPACE = ""

# https://developers.facebook.com/apps/{⚠️ META_APP_ID ⚠️}/whatsapp-business/wa-settings/
# -> You should generate your own webhook key and setup the webhook at the url above
WHATSAPP_WEBHOOK_KEY = ""

# https://developers.facebook.com/apps/{⚠️ META_APP_ID ⚠️}/whatsapp-business/wa-dev-console/
# -> Below where you select the phone number you will see the account id and number id
# -> paste here
WHATSAPP_ACCOUNT_ID = ""
WHATSAPP_NUMBER_ID = ""

WHATSAPP_ACCOUNT_ENCRYPTION_PUBLIC_KEY = ""
WHATSAPP_ACCOUNT_ENCRYPTION_PRIVATE_KEY = ""
WHATSAPP_ACCOUNT_ENCRYPTION_PASSPHRASE = ""

# Consists of the following: xs, b_user, c_user, usida, joined by ";"
WHATSAPP_UNNOFICIAL_AUTHENTICATION_STRING = ""
